* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-align: justify;
}

body {
    margin-bottom: 20px;
}

.navbar-brand {
    color: black;
    font-size: 26px;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .navbar-brand {
        font-size: 32px;
    }
}
@media  screen and (max-width: 592px) {
    .navbar-brand {
        margin-left: 20px;
    }
}

.nav-link {
    text-align: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    h1 {
        margin-bottom: 20px;
    }
}

h4 {
    font-weight: bold;
    margin-bottom: 15px;
}

.box {
    background-color: rgb(165, 165, 165);
    margin: 20px;
    padding: 20px;
}
